<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="becomeMember" method="post">
      <legend>MemberShip Code !</legend>
      <label for="code">Enter The top secret Membership code :</label>
      <input type="text" name="code" id="code" />
      <button type="submit">Enter</button>
    </form>
  </body>
</html>
