<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>
    <div class="login">
      <div class="img"></div>
      <div class="form">
        <form action="login" method="post">
          <h1>Sign in to Room 124</h1>
          <input
            type="text"
            name="username"
            id="username"
            placeholder="User Name"
            class="loginElements"
          />
          <input
            class="loginElements"
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <div class="buttons">
            <button type="submit" class="loginButton">Login</button>
            <a href="/"
              ><button type="button" class="loginButton">Back</button></a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
