<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.errors) {%>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <form action="signup" method="post">
      <legend>Sign Up</legend>
      <label for="firstname">First Name :</label>
      <input type="text" name="firstname" id="firstname" />
      <label for="lastname">Last Name :</label>
      <input type="text" name="lastname" id="lastname" />
      <label for="username">User Name( E-Mail ) :</label>
      <input type="email" name="username" id="username" />
      <label for="password">Password :</label>
      <input type="password" name="password" id="password" />
      <label for="cpassword">Confrim Password :</label>
      <input type="password" name="cpassword" id="cpassword" />
      <button type="submit">Sign Up</button>
    </form>
  </body>
</html>
