<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./signup.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="signup">
      <div class="img"></div>
      <div class="form">
        <% if (locals.errors) {%>
        <ul class="error">
          <h2>Invalid Details</h2>
          <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
          <% }); %>
        </ul>
        <% } %>
        <form action="signup" method="post">
          <h1>Create Your Account</h1>
          <input
            type="text"
            name="firstname"
            id="firstname"
            class="signupElements"
            placeholder="First Name "
          />
          <input
            type="text"
            name="lastname"
            placeholder="Last Name"
            id="lastname"
            class="signupElements"
          />

          <input
            type="email"
            name="username"
            id="username"
            class="signupElements"
            placeholder="User Name (E-Mail)"
          />

          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
            class="signupElements"
          />

          <input
            type="password"
            name="cpassword"
            id="cpassword"
            placeholder="Confirm Password"
            class="signupElements"
          />
          <div class="buttons">
            <button type="submit" class="signupButton">Sign Up</button>
            <a href="/"
              ><button type="button" class="signupButton">Back</button></a
            >
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
