<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./unaut.css" />
    <title>Document</title>
  </head>
  <body>
    <p>
      You are not Authorized to view this page. To view this page please
      <a href="/login">Login </a> or <a href="/signup">Sign Up!</a>
    </p>
  </body>
</html>
