:root {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    --background-color:rgb(211, 205, 205);
    --width-input-border:3px;
    --padding-inputs:0.75em;
    --padding-button:0.75em;
    --radius-inputs:0.50em;
    --radius-button:2em;
    --width-input:20vw;
    --width-button:10vw;
    --background-color-button:rgb(36, 134, 36);
    --color-button:white;
    --border-color:white;
    --background-color-button-hover:white;
    --color-button-hover:black;
    --border-color-hover:darkgreen;
    --border-width-button:3px;
    --background-color-input:white;
    --border-color-input-focus:blue;
    --border-color-input-hover:rgb(2, 2, 105);
    --background-color-error:rgb(226, 106, 102);
    --border-color-error:red;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
input{
    padding: var(--padding-inputs);
    border: var(--width-input-border) solid;
    border-radius: var(--radius-inputs);
    font-size: large;
}
.error{
    display: flex;
    flex-direction: column;
    background-color:var(--background-color-error) ;
    border: 3px solid var(--border-color-error);
    border-radius: 1em;
    gap: 0.5em;
    padding: 1em;
    min-width:20vw ;
}
h2{
    background-color: var(--background-color-error);
    text-align: center;
}
input:focus{
    border-color: var(--border-color-input-focus);
    box-shadow: 3px 3px 15px var(--border-color-input-focus);
    outline: none;
}
input:hover{
    border-color:var(--border-color-input-hover);
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55vw;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 40px;
}
*{
    margin: 0;
    background-color: var(--background-color);
}
.loginElements{
    width: var(--width-input);
    background-color: var(--background-color-input);
    box-shadow: 5px 5px 20px grey;
}
.loginButton{
    font-size: larger;
    width: var(--width-button);
    border-radius: var(--radius-button);
    padding: var(--padding-button);
    background-color: var(--background-color-button);
    color: var(--color-button);
    border-color: var(--border-color);
    border-width: var(--border-width-button);
    
}
.loginButton:hover{
    background-color:var(--background-color-button-hover) ;
    color: var(--color-button-hover);
    border-color: var(--border-color-hover);
}
.login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img{
    width: 45vw;
    height: 100vh;
    background-image: url(./photo_2024-09-24_15-30-03.jpg);
    background-size: cover;
    background-position: center;
}
h1{
    padding: 20px;
    font-size: 3em;
    border-bottom: 3px solid black;
}
button {
    background: none;
    outline: none;
    box-shadow: none;
    border:none;
    box-shadow: 5px 5px 20px green;
}